---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

type Props = HTMLAttributes<"a">;

const { isHidden, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const lang = Astro.params?.lang || "th";

const href = "https://admissions.utcc.ac.th/loginUTCC";
---

<a href={href} target="_blank" class=" inline-block">
  <button
    id="custom-btn"
    class="btn btn-neutral rounded-full font-normal uppercase text-[#030E62]"
    class:list={[className]}
    {...props}
  >
    <slot />
    <Icon
      name="arrow-left"
      class:list={[className, { hidden: isHidden }]}
      {...props}
    />
  </button>
  <!-- <p class="text-base text-white/70 mx-auto flex justify-center py-1">รับสมัครจำนวนจำกัด</p> -->
</a>
<style scoped>
  #custom-btn {
    background: #ffea00;
    background: linear-gradient(270deg, #ffea00 0%, #f0e893 100%);
    border-color: #ffea00;
  }
  button {
    font-size: 1.5rem;
  }
  button:hover button,
  button:hover svg {
    color: #030e62;
  }
</style>
