---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import AlumniSwiper from "./AlumniSwiper.vue";
const { class: className, ...props } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  id="alumni"
  class:list={[className]}
  {...props}
  class="bg-gradient-to-br from-[#fff6e5] to-[#ffdead] py-24"
>
  <div class="px-4 sm:px-16">
    <div class="container mx-auto">
      <div class="text-44 md:text-66 font-semibold mb-0">
        {`${t("home.alumni.title")}`}
      </div>
      <div class="text-24 md:text-30">
        {`${t("home.alumni.description")}`}
      </div>
    </div>
    <div class="">
      <div class="sm:w-30 pt-0 md:pt-4"></div>
      <div class="alumni-section pt-16">
        <AlumniSwiper client:visible />
      </div>
    </div>
  </div>
</div>

<style scoped>
  .alumni-section {
    position: relative;
  }
</style>
