---
import Swiper from "../components/SlideShow/Swiper.vue";
import Image from "astro/components/Image.astro";
import logo from "/public/image/logo-TEPCoT.svg";
// import standText from "../../public/image/CE-min.svg";
// import CardBlur from "../components/card/CardBlur.vue";

const { title, description } = Astro.props;
---

<div
  id="herolayout-tepcot"
  class="hero-layout relative pt-16 transform-gpu transition-transform duration-500 ease-out group-hover:scale-105"
>
  <Swiper client:idle />
  <div class="custom-bg">
    <div
      class="flex justify-between py-4 container mx-auto items-center topic-school relative is-desktop px-4"
    >
      <!-- lg:block -->
      <div class="relative max-w-5xl">
        <h1  class="leading-none font-bold pt-4 topic-h2 text-center md:text-left text-white text-44  lg:text-54">
          หลักสูตรผู้บริหารระดับสูงด้านการค้าและการพาณิชย์
        </h1>
        <h2 class="text-blue-100/70 text-36 md:text-44 font-light">
          Top Executive Program in Commerce and Trade
        </h2>
      </div>
      <div class="py-4">
        <Image
          src={logo}
          class="w-[400px] md:w-[400px]"
          alt="TEPCOT by UTCC — Executive Program มหาวิทยาลัยหอการค้าไทย"
        />
      </div>
    </div>
    <div class="image-container relative is-mobile">
      <div class="p-4">
        <Image
          src={logo}
          class="w-[450px]"
          alt="TEPCoT by UTCC — Executive Program Thailand University of the Chamber of Commerce"
        />
      </div>
    </div>
  </div>

  <style scoped>
    #herolayout-tepcot {
      background-image: url(/image/blue-bg-tepcot.png);
      position: relative;
      overflow: hidden;
      min-height: 100vh;
      width: 100%;
    }

    #herolayout-tepcot::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url(/image/blue-bg-tepcot.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

      /* zoom effect */
      transform: scale(1);
      transition: transform 0.6s ease-out;
      will-change: transform;
      z-index: 0;
    }

    /* Hover = zoom */
    /* #herolayout-tepcot:hover::before {
      transform: scale(1.25);
    } */

    .image-container {
      display: inline-block; /* Ensures the container wraps around the image */
    }

    .overlay-text {
      position: absolute;
      top: 0; /* Adjust as needed */
      left: 0; /* Adjust as needed */
    }

    @media only screen and (max-width: 767px) {
      .overlay-text {
        width: 100%;
      }
      .custom-img {
        width: 66%;
        position: absolute;
        bottom: -4rem;
        right: 0;
      }
      .is-desktop {
        display: none;
      }

      .hero-layout {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
        /* padding-top: 2rem; */
      }
      .swiper {
        min-height: 390px !important;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .is-mobile {
        display: none;
      }
    }
    @media only screen and (min-width: 1024px) {
      .is-mobile {
        display: none;
      }
    }
  </style>
</div>
